<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my page</title>
</head>
<body>

    <Form  action="{{url_for('receive_data')}}" method="post">
        <label for="Name"> Name:</label>
         <input type="text" id="Name" placeholder="name" name="username">
        <label for="password"> Password: </label>
       <input type="password" id="password" placeholder="enter password" name="password">
        <button type="submit"> Ok</button>
    </Form>
</body>
</html>