   {% extends 'base.html' %}
    
    {% block title %}My Library{% endblock %}

    {% block content %}
    <div class="container mt-3">
      <div class="jumbotron bg-body-tertiary">
        <h1>Library Books</h1>
            {% if not books or books == None: %}
                <p><h4 style="color:darkred">Library is empty.</h4></p>
            {%else%}
          <ul>
            {% for book in books: %}
            <li>{{book.title}} - {{book.author}} - {{book.rating}}/10 
              
              <a class="btn btn-link" href="{{ url_for('update_form', id=book.id, title=book.title, rating=book.rating) }}">update</a>
            
              <a style="color:darkred"  class="btn btn-link" href="{{ url_for('delete_record', id=book.id) }}">delete</a></li>

            </li>
            
            {% endfor %}
          </ul>
          {% endif %}
      <a class="btn btn-warning btn-lg" href="{{url_for('add')}}">Add New Book</a>
    </div>
  </div>
   {% endblock %}
